h1::before {
    content: "Prefijo -" ;
    background-color: khaki;
}
h2::before {
    content: "PrefijoH2 -" ;
    background-color: rgb(228, 205, 4);
}
h3::after {
    content: "- Sufijo" ;
    background-color: rgb(228, 4, 4);
}
p::first-letter{
    font-size: 50px;
    color: lime;
}
#primerp::first-line {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
::marker {
    color: red; 
    font-size: 23px;
}
#div1 *::selection {
    color: red;
    background: yellow;
}
/* .classdiv1::selection {
    color: red;
    background: yellow;
}  OPCIONAL y VÁLIDO*/ 