h3::after {

    content: " - Sufijo";
    
    background-color: yellow;
    
    color: red;
    
    font-weight: bold;}

    h1::before {

        content: "Prefijo -";
        
        background-color: yellow;
        
        color: red;
        
        font-weight: bold;}

      p::first-line{font-size: large;}

      ::marker{color: red}